/* HomePage.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(255, 98, 0, 0.161);
}

.homepage {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: blanchedalmond;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #ff6200;
  font-size: 2.5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

main {
  margin-bottom: 40px;
}

section {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #c41d1d34;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #ff6200;
  font-size: 1.8em;
}

ul {
  padding: 10;
}

li {
  margin-bottom: 8px;
  color: #333;
  padding: 7px;
  margin-left: 10px;
}

footer {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  color: #555;
}
